@{
    ViewData["Title"] = "Web Page";
}

@model User
<div class="text-center">
    <div class="card w-25 mx-auto mt-5 shadow-lg">
        <div class="card-body">
            <form asp-action="Process" asp-controller="Home" method="post">
                <div class="m-3 row">
                    <label asp-for="Name"></label>
                    <input asp-for="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="m-3 row">
                    <label asp-for="Email"></label>
                    <input asp-for="Email">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="m-3 row">
                    <label asp-for="Birthday"></label>
                    <input asp-for="Birthday">
                    <span class="text-danger" asp-validation-for="Birthday"></span>
                </div>
                <div class="m-3 row">
                    <label asp-for="Password"></label>
                    <input asp-for="Password">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="m-3 row">
                    <label asp-for="Number"></label>
                    <input asp-for="Number">
                    <span class="text-danger" asp-validation-for="Number"></span>
                </div>
                <input type="submit" value="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
